@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h5>Welcome to property changer</h5>
    <div class="row mt-2 border-bottom">
        <div class="col-sm-2">
            <p>Имя свойства</p>
        </div>
        <div class="col-sm-2">
            <p>Тип свойства</p>
        </div>
        <div class="col-sm-2">
            <p>Значение</p>
        </div>
    </div>
    <form name="changerPostForm" id="changerPostForm" style="max-height:750px; overflow-y: scroll;" novalidate="novalidate">

    </form>
</div>
<script src="~/js/ChangerObjectClient.js" asp-append-version="true"></script>
