@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Property changer</h1>
    <form name="changerPostForm">
        
    </form>
</div>
<script src="~/js/ChangerObjectClient.js" asp-append-version="true"></script>
